<div class="wrapper">
    <div class="content">
        <div class="text-wrapper">
            <p class="row-one">
                Now's the time to invest in your future!  Berkeley offers you the chance to have the future you've always wanted.  Not only for you, but the people you care about most.  Berkeley College offers flexible educational opportunities so that you can achieve your goals at your own pace,
            </p>
            <div></div> <!-- Used for empty grid cells -->
            <div></div>
            <p class="row-two">
                Online schooling is on the rise, and your opportunity is now.  Whether you're looking to acquire your degree going part-time or full-time, Berkeley College offers you the chance to have a customizable experience with your education.  You'll be able to get your certificate or complete your degree on your time, from any location, at any time.    
            </p>
        </div>
        <div class="button-wrapper">
            <a mat-raised-button href="#">Get information</a>
        </div>
    </div>
</div>