.wrapper {
    height: 80vh;
    min-height: inherit !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px 0 50px 0;
    
    display: grid;
    gap: 100px;
}

.mobile-button-wrapper {
    position: absolute;
    visibility: hidden;
}

.divider {
    display: grid;
    justify-self: center;
    width: 75%;
    height: 2px;
    background: black;
}
.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-wrapper {
    padding: 0 50px 0 50px;
    display: grid;
    gap: 50px 0px;
    justify-content: center;
    text-align: center;
}

p {
    margin: 0;
    color: #222222;
    font-family: Inter;
}

.row-one {
    text-align: center;
    width: 50%;
}
.row-two {
    text-align: center;
    width: 50%;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;

    a {
        padding: 5px 50px 5px 50px;
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity 0.2s ease;
        font-weight: normal;
    
        background: #01D756;
        color: white;
    }
}

.mobile-header-one {
    visibility: visible;
    font-weight: bolder;
    position: inherit;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        height: inherit;
    }
    .text-wrapper {
        .divider {
            visibility: visible;
            position: inherit;
            display: grid;
            justify-self: center;
            width: 60vw;
            height: 2px;
            background: black;
        }
        grid-template-columns: 1fr;
        gap: 15px;
    }

    p {
        text-align: center !important;
    }

    .button-wrapper {
        visibility: hidden;
    }

    .mobile-header-one {
        visibility: visible;
        font-weight: bolder;
        position: inherit;
    }

    .mobile-button-wrapper {
        visibility: visible;
        display: flex;
        justify-content: space-around;
        position:inherit;
        a {
            padding: 5px 50px 5px 50px;
            margin: 0 0 20px 0;
            text-transform: uppercase;
            cursor: pointer;
            transition: opacity 0.2s ease;
            font-weight: normal;
        
            background: #01D756;
            color: white;
        }
    }
    .row-one {
        text-align: center;
        width: 100%;
    }
    .row-two {
        text-align: center;
        width: 100%;
    }
}
