.wrapper {
    height: 80vh;
    background-color: #F3F3F3;
    min-height: fit-content !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 50px 0 50px 0;
    height: 80%;
    display: grid;
}

.divider-top {
    display: grid;
    justify-self: center;
    width: 35%;
    height: 2px;
    background: #CFCFCF;
}
.divider-top-bottom {
    display: grid;
    justify-self: center;
    width: 50%;
    height: 2px;
    background: #CFCFCF;

}
.divider-bottom-top {
    display: grid;
    justify-self: center;
    width: 50%;
    height: 2px;
    background: #CFCFCF;

}
.divider-bottom-bottom {
    display: grid;
    justify-self: center;
    width: 35%;
    height: 2px;
    background: #CFCFCF;
}

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-wrapper {
    height: 100%;
    display: grid;
    grid: 1fr;
    gap: 1.5vw 0px;
    text-align: center;
}

p {
    margin: 0;
    color: #222222;
    // font-family: Inter;
}

.row-one {
    text-align: justify;
    width: 50%;
}
.row-two {
    text-align: justify;
    width: 50%;
}

.button-wrapper {
    display: flex;
    justify-content: space-around;
    height: 40px;

    button {
        text-transform: uppercase;
        cursor: pointer;
        transition: opacity 0.2s ease;
        font-weight: normal;
        background: rgb(251, 204, 20, 0.5);
        color: black;
        border: 2px solid black
    }
}

.header-one {
    font-weight: bolder;
    position: inherit;
    display: flex;
    justify-content: center;

    .header-one-content {
        width: 50%;
        display: inline-block;
        align-self: flex-end;
        text-align: left;
        font-size:calc(100% + 1vw);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
        height: inherit;
    }
    .text-wrapper {
        .divider-top {
            visibility: visible;
            position: inherit;
            display: grid;
            justify-self: center;
            width: 60vw;
            height: 2px;
            background: black;
        }
        .divider-top-bottom {
            visibility: visible;
            position: inherit;
            display: grid;
            justify-self: center;
            width: 60vw;
            height: 2px;
            background: black;
        }
        .divider-bottom-top {
            visibility: visible;
            position: inherit;
            display: grid;
            justify-self: center;
            width: 60vw;
            height: 2px;
            background: black;
        }
        .divider-bottom-bottom {
            visibility: visible;
            position: inherit;
            display: grid;
            justify-self: center;
            width: 60vw;
            height: 2px;
            background: black;
        }
        grid-template-columns: 1fr;
        gap: 15px;
    }


    .header-one {
        visibility: visible;
        font-weight: bolder;
        position: inherit;
        justify-content: center;
        .header-one-content {
            text-align: center;
        }
    }

    .button-wrapper {
        display: flex;
        justify-content: space-around;
        position:inherit;
        height: 40px;
        button {
            text-transform: uppercase;
            cursor: pointer;
            transition: opacity 0.2s ease;
            font-weight: normal;
        
            background: #01D756;
            color: white;
        }
    }
    .row-one {
        text-align: justify;
        width: 80%;
        padding: 0 10px 0 10px;
    }
    .row-two {
        text-align: justify;
        width: 80%;
        padding: 0 10px 0 10px;
    }
}
