<div class="wrapper">
    <div class="content">
        <div class="text-wrapper">
            <div class="divider"></div>
            <p class="mobile-header-one">Meet your future...</p>
            <div class="full-width">
                <p class="row-one">
                    {{ copy.contentOne }}
                </p>
            </div>
            <div class="divider"></div>
            <div class="mobile-button-wrapper">
                <a mat-raised-button href="#">Let's Connect</a>
            </div>
            <div class="divider"></div>
            <p class="mobile-header-one">Your ideal match...</p>
            <div class="full-width">
                <p class="row-two">
                    {{ copy.contentTwo }}
                </p>
            </div>
            <div class="divider"></div>
        </div>
        <div class="button-wrapper">
            <a mat-raised-button href="#">Get information</a>
        </div>
    </div>
</div>