<div class="wrapper">
    <div class="content">
        <div class="text-wrapper">
            <div class="divider-top"></div>
            <div class="header-one">
                <p class="header-one-content">Meet your future...</p>
            </div>
            <div class="full-width">
                <p class="row-one">
                    {{ copy.contentOne }}
                </p>
            </div>
            <div class="divider-top-bottom"></div>
            <div class="button-wrapper">
                <button mat-raised-button href="#">Let's Connect</button>
            </div>
            <div class="divider-bottom-top"></div>
            <div class="header-one">
                <p class="header-one-content">Your ideal match...</p>
            </div>
            <div class="full-width">
                <p class="row-two">
                    {{ copy.contentTwo }}
                </p>
            </div>
            <div class="divider-bottom-bottom"></div>
        </div>
    </div>
</div>