.wrapper {
    background-image: 
        linear-gradient(rgb(23, 45, 129, 0.5), rgb(16, 97, 181, 0.5), rgb(54, 137, 223, 0.5), rgb(165, 118, 27, 0.5), rgb(251, 204, 20, 0.5)), 
        url("../../assets/hats-bkg.png");
    background-size: cover;
    color: white;
    min-height: 100% !important;
    
    .form-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: inherit;
        .logo-wrapper {
            display: grid;
            justify-items: end;
            width: 100%;
            margin: 10px 0 0 0;
        }
        .info-wrapper {
            width: 90%;
            margin-left: 10vw;
            margin-bottom: 1vh;
            h1 {
                font-size: 70px;
            }
            p {
                width: 60%;
                margin: 10px 0 0 20px;
                font-size: 15px;
            }
        }
        .form-step-wrapper {
            background-color: white;
            width: 60%;
            margin: 20px;
            border-radius: 5px;
            height: inherit;
            .contactInfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .additionalInfo {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            form {
                justify-items: center;
                app-input-field {
                    border-radius: 4px;
                    padding: 0px;
                    width: 100%;
                    color: black;
                }
            }
            mat-stepper {
                background: transparent;
                border-radius: 10px;
            }
        }
        
        @media only screen and (max-width:750px) {
            .form-step-wrapper {
                width: 100%;
                .contactInfo {
                    display: grid;
                    grid-template-columns: 1fr;
                }
                .additionalInfo {
                    display: grid;
                    grid-template-columns: 1fr;
                }
            }
            .label {
                display: none;
            }
            .info-wrapper {
                margin-left: 0px;
            }
        }

        .button-next {
            display: flex;
            justify-content: space-around;
            color: white;
        }
    }

}

button {
    padding: 5px 50px 5px 50px;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.2s ease;
    font-weight: normal;

    background: #01D756;
    color: white;
}

