<div class="wrapper">
    <div class="form-wrapper">
        <div class="logo-wrapper">
            <p>Logo Here</p>
        </div>
        <div class="info-wrapper">
            <p>
                Tell us about you!
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue mauris augue neque gravida.
            </p>
        </div>
        <div class="form-step-wrapper">
            <mat-stepper [linear]="true" #stepper [orientation]="orientationType">
                <mat-step>
                    <ng-template matStepLabel class="label">Contact Information</ng-template>
                    <form>
                        <app-input-field 
                            fieldLabel='First Name' 
                            [(ngModel)]="contactInfo.firstname"
                            placeHolder='John'
                            [formControl]="contactInfoFormGroup.get('firstName')"
                            [onError]="getErrorMessage(contactInfoFormGroup.get('firstName'))"
                            #firstname
                        ></app-input-field>
                        <!-- <app-input-field 
                            [fieldLabel]="'Last Name'" 
                            [placeHolder]="'Doe'"
                            [formControl]="contactInfoFormGroup.get('lastName')"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Address'" 
                            [placeHolder]="'1233 Lake Ave'"
                            [formControl]="contactInfoFormGroup.get('address')"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'City'" 
                            [placeHolder]="'New York'"
                            [formControl]="contactInfoFormGroup.get('city')"
                        ></app-input-field>
                        <app-input-field 
                            fieldLabel='State' 
                            placeHolder='New York'
                            [formControl]="contactInfoFormGroup.get('state')"
                            inputType="dropdown"
                            [list]="US_STATES"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Zip Code'" 
                            [placeHolder]="'12335'"
                            [formControl]="contactInfoFormGroup.get('zipCode')"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Email Address'" 
                            [placeHolder]="'johndoe@email.com'"
                            [formControl]="contactInfoFormGroup.get('emailAddress')"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Home Phone'" 
                            [placeHolder]="'xxx-xxx-xxxx'"
                            [formControl]="contactInfoFormGroup.get('homePhone')"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Age'" 
                            [placeHolder]="'12'"
                            [formControl]="contactInfoFormGroup.get('age')"
                            inputType="number"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'Gender'" 
                            [placeHolder]="'1233 Lake Ave'"
                            [formControl]="contactInfoFormGroup.get('gender')"
                            inputType="dropdown"
                            [list]="['Male', 'Female']"
                        ></app-input-field> -->
                    </form>
                    <div class="button-next">
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Additonal Information</ng-template>
                    <form>
                        <!-- <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field> -->
                    </form>
                    <div class="button-next">
                        <button mat-button matStepperPrevious>Go Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Submit Form</ng-template>
                    <form>
                        <!-- <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field>
                        <app-input-field 
                            [fieldLabel]="'First Name'" 
                            [placeHolder]="'John'"
                        ></app-input-field> -->
                    </form>
                    <div class="button-next">
                        <button mat-button matStepperPrevious>Go Back</button>
                    </div>
                </mat-step>
            </mat-stepper>
        </div>
            
    </div>
    
    
    
</div>

<app-footer></app-footer>