
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@include mat.core();

$Cain_-primary: mat.define-palette(mat.$indigo-palette);
$Cain_-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Cain_-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Cain_-theme: mat.define-light-theme((
  color: (
    primary: $Cain_-primary,
    accent: $Cain_-accent,
    warn: $Cain_-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Cain_-theme);

/* You can add global styles to this file, and also import other style files */

// @font-face {
//     font-family: "Inter";
//     src: local("Inter"), url(assets/fonts/Inter/Inter-Regular.ttf) format("truetype");
// }

* {
  margin: 0;
}

html, body { 
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%; 
}

body { 
  font-family: Inter, "Helvetica Neue", sans-serif; 
  font-size: 16px;
}

