.wrapper {
    background: #383838;

    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;

    color: white;
    font-family: Inter;
    text-align: center;
}

p {
    padding: 20px 0 20px 0;
    width: 80%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .content {
        font-size: small;
    }
}
