<div class="wrapper">
    <div class="content">
        <p>
            Berkeley College does not discriminate on the basis of race, color, national origin, sex, disability, age, or any other category protected by applicable law, in its programs and activities. 
            This is an offer for educational opportunities and not an offer for nor a guarantee of employment. Students should consult with a representative from the school they select to learn more about career opportunities in that field. Program outcomes vary according to each institution's specific program curriculum.
            Financial aid may be available to those who qualify. The information on this page is for informational and research purposes only and is not an assurance of financial aid. This website is privately owned and operated and is not affiliated with or endorsed by any governmental entity.
        </p>
    </div>
</div>
